<h5> Edit My Hotel: </h5>

<%= form_for (@accomodation) do |f| %>
  <%= f.label :hotel %>
  <%= f.text_field :hotel %>
  
  <%= f.label :location %>
  <%= f.text_field :location %>
     
  <%= f.label :cost %>
  <%= f.text_field :cost %>
    
  <%= f.submit "Update" %>
  
<% end %>