<h4> Enter New Accomodation: </h4>
<h5>
<br>
<%= form_for (@accomodation) do |f| %>
  <%= f.label :hotel %>
  <%= f.text_field :hotel %>
  <br>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <br>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <br>
  <br>
  <%= f.submit "Create" %>
  <% end %>
  </h5>
  <br>
  <br>