<h5> Edit my Trip: </h5>

<%= form_for (@trip) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  
  <%= f.label :start_date %>
  <%= f.date_field :start_date %><br />
     
  <%= f.label :end_date %>
  <%= f.date_field :end_date %><br>
  
  <%= f.submit "Update Trip" %>
  
<% end %>