<h4> Here is your trip! </h4>
<br>
  Trip Name:   <%= @trip.name %><br>
  Start Date: <%= @trip.start_date %><br>
  End Date:   <%= @trip.end_date %>
<br>
<br>
<br>  

<h5>
  <%= link_to "Add another trip", new_trip_path(@trip) %>
  <br>
  <%= link_to "Edit this trip", edit_trip_path(@trip) %>
  <br>
  <br>
</h5>