<h4> Here is your trip! </h3>
<br>
<h4>
<h5>
<tbody>
  <td><%= @trip.name %>:</td>
  <br>
  <h5> <tr>Start Date: <%= @trip.start_date %>
  <tr>End Date: <%= @trip.end_date %>
  <br>
  <br></h5>
  </tbody>

  <%= link_to "Add another trip", new_trip_path(@trip) %>
  <br>
  <%= link_to "Edit this trip", edit_trip_path(@trip) %>
  <br>
  <br>
</h3>