<h4> Here is your trip! </h4>
<br />
<div>
  <strong>Trip Name:</strong> <%= @trip.name %><br>
  <strong>Start Date:</strong> <%= @trip.start_date %><br>
  <strong>End Date:</strong> <%= @trip.end_date %>
</div>
<br />

<h5>Destinations</h5>

<% @trip.destinations.each do |d| %>
  <strong>Name: </strong><%= d.name %><br />
  <strong>Location:</strong><br />
  <strong>Description:</strong><%= d.description %>
<% end %>

<ul>
  <li><%= link_to 'Add Destination', new_trip_destination_path(@trip) %></li>|
  <li><%= link_to "Add another trip", new_trip_path(@trip) %></li>|
  <li><%= link_to "Edit this trip", edit_trip_path(@trip) %></li>|
</ul>


<h5>Locations</h5>

<% @trip.locations.each do |location| %>
  <strong>Location:</strong><%= location.name %><br />
<% end %>