<h4> Create a Destination </h4>
<h6>
<br>
<%= form_for (@destination) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <br>
  <%= f.submit "Create Destination" %>
  <% end %>
  </h6>
  <br>
  <br>