<h4>Here is your destination</h4>

<strong>Name:</strong> <%= @destination.name %><br>
<strong>Description:</strong> <%= @destination.description %><br />
<strong>Location:</strong> <%= @destination.location.name %>
<br />
<br />
<ul>
  <li><%= link_to "Edit this destination", edit_destination_path(@destination) %></li>|
  <li><%= link_to "Add Destination", new_trip_destination_path(@destination.trip) %></li>|
  <li><%= link_to "Back to Trip", trip_path(@destination.trip) %></li>
</ul>

